.home-panel{
    vertical-align: center;
    font-size: 20px;
    margin: 15px;
}

#home-logo-img {
    height: 500px;
    margin-bottom: 150px;
}

#home-next-btn {
    margin: 100px;
}

#home-wallet-input {
    margin: 150px;
}
