.form-new-delivery-address {
    /*vertical-align: top; only for dev purposes*/
    vertical-align: top;
    margin-top: 100em;
    width: 90%;
}

TextField {
    margin: 5em;
}

#btn-finish-delivery-input {
    /*vertical-align: top; only for dev purposes*/
    vertical-align: top;
    margin-top: 10em;
    width: 80%;
    text-transform: capitalize;
}

